<!--
 * @Author: wxyBone 13638456960@163.com
 * @Date: 2024-12-04 11:12:53
 * @LastEditors: wxyBone 13638456960@163.com
 * @LastEditTime: 2024-12-09 14:44:08
 * @FilePath: \project\public\index.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>AC官网</title>
</head>

<body>
  <div id="app">
  </div>
  <!-- built files will be auto injected -->
</body>

</html>