.b-out-room {
    background-color: rgb(20, 23, 23);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.b-out-room * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header-b {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    z-index: 99;
    background-color: #0e202435;
    backdrop-filter: blur(20px);
}

.logo-section-b {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon-b {
    width: 20px;
    opacity: 0.9;
}

.logo-text-b {
    color: rgb(168, 206, 210);
    text-shadow: 0 0 10px #6989b854;
    font-size: 20px;
    font-weight: 600;
}

.nav-section-b {
    padding-left: 150px;
    display: flex;
    gap: 7px;
}

.nav-link-b {
    color: rgb(184, 207, 210, 0.6);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 14px;
}

.nav-link-b:hover,
.nav-link-b.active-b {
    background-color: rgba(168, 206, 210, 0.1);
    font-weight: 600;
    color: rgb(168, 206, 210);
}

.user-section-b {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-wrapper-b {
    width: 33px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(168, 206, 210, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-wrapper-b .el-icon {
    font-size: 17px;
    color: rgba(168, 206, 210, 0.8);
}

.avatar-wrapper-b {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid rgba(168, 206, 210, 0.5);
    overflow: hidden;
    cursor: pointer;
}

.avatar-wrapper-b img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-info-popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 20px;
    width: 280px;
    background-color: rgb(21, 26, 27);
    border-radius: 10px;
    border: 1px solid rgba(168, 206, 210, 0.228);
}

.admin-content {
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.admin-info {
    margin-top: -15px;
}

.admin-avatar {
    margin-bottom: 10px;
}

.admin-avatar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 1px solid rgba(168, 206, 210, 0.5);
}

.admin-name {
    font-size: 18px;
    font-weight: 600;
    color: rgb(189, 208, 211);
    margin-bottom: 5px;
}

.admin-role {
    font-size: 13px;
    color: rgb(160, 194, 198);
}

.divider {
    border-top: 1px solid rgba(168, 206, 210, 0.228);
    margin: 0;
}

.logout-btn {
    padding: 10px 0 10px 238px;
    color: rgb(160, 194, 198);
    font-size: 13px;
    cursor: pointer;
}

.logout-btn:hover {
    color: rgb(189, 208, 211);
}

#main-b {
    display: flex;
}

#content-b {
    flex: 1;
    margin-left: 80px;
    margin-top: 65px;
}

/* 左侧导航栏样式 */
.side-nav-b {
    position: fixed;
    left: 0;
    width: 80px;
    height: 100vh;
    background-color: #0e202435;
    padding: 20px 0;
}

.nav-items-b {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40vh;
    align-items: center;
}

.nav-item-b {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-item-b .el-icon {
    font-size: 18px;
    color: rgba(168, 206, 210, 0.7);
}

.nav-item-b.active-b {
    background-color: #2a2f3f;
    border: none;
    border-radius: 10px;
}

.nav-item-b.active-b .el-icon {
    color: rgb(168, 206, 210)fff;
}