.publish-container {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* 星星样式 */
#publish-stars {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    filter: brightness(300%);
}

.publish-star {
    position: absolute;
    background-color: rgba(128, 220, 236, 0.61);
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #a6407579;
}

.publish-logo {
    position: absolute;
    left: 30px;
    top: 25px;
    width: 28px;
    z-index: 2;
    opacity: 0.8;
}

.publish-room-out {
    position: absolute;
    overflow-y: auto;
    width: 60%;
    height: 100vh;
    padding: 0 20%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.1);
    /* box-shadow: -50px 0px 200px rgb(0, 0, 0); */
}

.publish-content {
    padding: 150px 0 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.publish-tit {
    position: fixed;
    width: 60%;
    top: 140px;
}

.publish-title-row {
    color: rgba(161, 251, 260, 0.600);
    text-shadow: 0px 6px 2px rgba(172, 35, 124, 0.847);
    font-size: 60px;
    font-weight: 800;
    z-index: 2;
}

.publish-subtitle-row {
    margin-top: 25px;
    color: rgb(106, 129, 129);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.publish-description-row {
    position: relative;
    z-index: 3;
    background-color: rgb(11, 14, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 250px;
    padding: 50px 0;
    width: 120%;
    border-radius: 25px;
}

.input-group-p {
    width: 85%;
    margin-left: -30px;
}

.Art-image-tit,
.input-group-p label {
    display: block;
    float: left;
    color: rgba(195, 63, 137, 0.914);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 7px;
}

.input-group-p textarea {
    width: 100%;
    border: solid 1px rgba(103, 114, 114, 0.904);
    outline: none;
    font-family: Arial, sans-serif;
    color: rgb(206, 230, 231);
    font-size: 16px;
    height: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(12, 15, 16, 0.785);
}

.input-group-p textarea::placeholder {
    color: rgba(106, 129, 129, 0.682);
}

.input-group-p input {
    width: 100%;
    border: solid 1px rgba(103, 114, 114, 0.904);
    outline: none;
    color: rgb(206, 230, 231);
    font-size: 17px;
    height: 25px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(12, 15, 16, 0.785);
}

.input-group-p input::placeholder {
    color: rgba(106, 129, 129, 0.682);
}

.Art-upload-container {
    width: 85%;
    margin-left: -30px;
}

.Art-image-tip {
    position: absolute;
    margin-top: 30px;
    color: rgba(103, 114, 114, 0.904);
    font-weight: 500;
    float: left;
    font-size: 16px;
}

.Art-image-group {
    margin-top: 80px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.Art-image-group img {
    margin-right: 20px;
    width: 200px;
    height: 220px;
    border-radius: 10px;
    opacity: 0.9;
    transition: all 0.1s ease-in-out;
}

.Art-placeholder-image {
    width: 160px;
    height: 180px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(106, 129, 129, 0.658);
    background-color: rgba(34, 43, 45, 0.914);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.Art-placeholder-image:hover {
    filter: brightness(80%);
}

.toUpload {
    width: 65px;
    height: 65px;
    padding-bottom: 15px;
}

.toUpload img {
    width: 65px;
    height: 65px;
    opacity: 0.8;
}

.publish-tip {
    color: rgb(106, 129, 129);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: -10px;
}

.publish-button {
    padding: 15px 160px;
    background-color: rgb(155, 41, 106);
    font-size: 20px;
    font-weight: 700;
    margin-top: 80px;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.359);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.publish-button:hover {
    filter: brightness(90%);
}

/* 为每行添加间距 */
.publish-content>div {
    margin-bottom: 20px;
}

/* 添加弹窗样式 */
.modal-publish {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-content-publish {
    border: solid 1px rgba(103, 114, 114, 0.904);
    background-color: #000000;
    width: 50%;
    height: 70%;
    padding: 30px 60px;
    color: rgba(125, 139, 139);
    font-size: 18px;
    border-radius: 10px;
    overflow-y: auto;
}

.close-publish {
    position: absolute;
    cursor: pointer;
    right: 320px;
    top: 95px;
    font-size: 25px;
}

.modal-content-publish h2 {
    text-align: center;
    color: rgba(179, 203, 204, 0.808);
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 800;
}

.modal-content-publish li {
    margin-bottom: 10px;
}

.modal-content-publish p {
    text-align: center;
    color: rgba(125, 139, 139);
    font-size: 19px;
    text-align: left;
}

.publish-but {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.modal-content-publish button {
    padding: 13px 0;
    text-align: center;
    width: 200px;
    background-color: rgb(131, 68, 104);
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.359);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.modal-content-publish button:hover {
    filter: brightness(90%);
}